.carousel-products-category {
    width: 1420px;
    margin-bottom: 10px;
}

.carousel-products-category H2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.carousel-products-category .glider-track {
    margin: 0px;
    padding: 0px;
    background: #ebebeb;
}

.carousel-products-category .product-category p {
    top: 20px;
}

.glider-track {
    height: 200px;
}

.glider-contain {
    position: relative;
    width: 100%;
}

.glider {
    height: 230px;
    display: flex;
    overflow-x: auto;
}

.glider .product-category {
    max-width: 160px;
    max-height: 160px;
    margin: 2px;
    text-align: center;
    border-radius: 4px;
    background-color: white;
}

.glider .product-category .category-image {
    width: 160px;
    height: 160px;
}

.glider .product-category img {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.glider .product-category .category-name {
    padding-top: 13px;
}

.glider .product-category .category-name p {
    font-weight: bold;
    font-size: 13px;
}

button.glider-prev {
    left: 10px;
}

button.glider-next {
    right: 10px;
}
