#container-product-subcategory {
    background-color: #ebebeb;
    width: 1420px;
}

#container-product-subcategory .cards{
    background-color: #ebebeb;
    width: 1420px;
    border: none;
    margin-top: 65px;
}

#container-product-subcategory .cards .card{
    width: 334px;
    height: 100px;
    position: relative;
    cursor: pointer;
}

#container-product-subcategory .cards .card .pc-subcategory-name {
    color: #ebebeb;
    transform: rotate(-90deg);
    width: 100px;
}

#container-product-subcategory .cards .card h2{
    top: 30px;
    right: 268px;
    font-size: 33px;
}

#container-product-subcategory .cards .card h3{
    top: 33px;
    right: 271px;
}

#container-product-subcategory .cards .card h4{
    top: 35px;
    right: 272px;
}

#container-product-subcategory .cards .card .pc-subcategory-image {
    width: 160px;
    padding-left: 20px;
}

#container-product-subcategory .cards .card .pc-subcategory-text {
    width: 158px;
    height: 41px;
    position: absolute;
    align-self: flex-end;
    right: 9px;
    top: 30px;
}

#container-product-subcategory .cards .card .pc-subcategory-text span:first-child {
    font-weight: 600;
    font-size: 30px;
    height: 33px;
}

#container-product-subcategory .cards .card .pc-subcategory-text span:last-child {
    color: #777;
    font-weight: 600;
    font-size: 14px;
}

#container-product-subcategory .cards .card:hover .pc-subcategory-text span:last-child {
    color: #ff5800;
}

#container-product-subcategory .cards .card i {
    color: #777;
    position: absolute;
    align-self: flex-end;
    top: 10px;
    right: 10px;
    rotate: 45deg;
    opacity: 0;
    padding: 5px;
    transition: .2s linear;
}

#container-product-subcategory .cards .card:hover i {
    opacity: 1;
    padding: 0;
    transition: .2s linear;
}
