.carousel-products-category {
    width: 1420px;
    margin-bottom: 10px;
}

.carousel-products-category H2 {
    font-size: 18px;
    font-weight: 600;
    margin: 8px;
    margin-bottom: 20px;
}

.carousel-products-category .glider-track {
    margin: 0px;
    padding: 0px;
    background: #ebebeb;
}

.glider-track {
    height: 230px;
}

.glider-contain {
    position: relative;
    width: 100%;
}

.glider {
    height: 230px;
    display: flex;
    overflow-x: auto;
}

.glider .product-category {
    max-width: 160px;
    max-height: 160px;
    margin: 2px;
    text-align: center;
    border-radius: 4px;
    background-color: white;
}

.glider .product-category .category-image {
    width: 160px;
    height: 160px;
}

.glider .product-category img {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.glider-dots {
    width: 52px;
    margin: 0;
}

.glider-dots .glider-dot.active {
    background-color: rgb(204, 70, 0);
}

.glider .product-category .category-name {
    padding-top: 15px;
}

.glider .product-category .category-name p {
    font-weight: bold;
    font-size: 13px;
}
