header {
    height: 117;
    background-color: #232223;
    color: white;
}

/* Top Navbar */
.navbar .top-navbar {
    width: 1410px;
    height: 65px;
}

.navbar .top-navbar form {
    width: 920px;
    height: 48px;
    position: relative;
}

.navbar .top-navbar form input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0;
    outline: 0;
    padding: 13px;
    font-size: 16px;
    transition: background-color 0.6s ease;
}

.navbar .top-navbar form .form-icons i {
    position: absolute;
    font-size: 14px;
    right: 20px;
    top: 17px;
    color: black;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.6s ease;
}

.navbar .top-navbar form i#searchIcon {
    opacity: 1;
    transform: translateX(0);
}

.navbar .top-navbar form i#arrowIcon {
    opacity: 0;
    transform: translateX(-20px);
    /* Começa fora da tela à esquerda */
}

.navbar .top-navbar form .form-icons:hover i#searchIcon {
    opacity: 0;
    transform: translateX(20px);
    /* Move para fora da tela à direita */
}

.navbar .top-navbar form .form-icons:hover i#arrowIcon {
    opacity: 1;
    transform: translateX(0);
    /* Move para a posição original */
}

.navbar .top-navbar i {
    color: white;
}

.navbar .top-navbar .menu-auth {
    width: 128px;
    height: 42px;
}

.navbar .top-navbar .menu-auth p {
    width: 85px;
    height: 40px;
    font-size: 14px;
    margin: 0;
}

.navbar .top-navbar .menu-auth p a {
    color: white;
    text-decoration: none;
    transition: 1s ease;
}

.navbar .top-navbar .menu-auth p a:hover {
    color: #fe5511;
}

.navbar .top-navbar .menu-auth i {
    font-size: 30px;
    transition: 1s ease;
    cursor: pointer;
}

.navbar .top-navbar .menu-auth i:hover {
    color: #fe5511;
}

.navbar .top-navbar .header-site-menu-icons {
    width: 85px;
    height: 40px;
}

.navbar .top-navbar .header-site-menu-icons i {
    font-size: 20px;
    ;
}

.navbar .top-navbar .header-site-menu-icons .heart {
    height: 50px;
}

.navbar .top-navbar .header-site-menu-icons .heart .heart-count {
    background-color: #fe5511;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
}

.navbar .top-navbar .header-site-menu-icons .cart {
    height: 50px;
}

.navbar .top-navbar .header-site-menu-icons .cart .cart-count {
    background-color: #fe5511;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
}
